@import '~bootstrap/scss/bootstrap';

aside {
  font-size: 2rem;
  margin-top: 12vh;
  text-align: center;
}

div {
  text-align: center;
  color: black;
}

footer {
  border: 1px solid black;
  height: 50px;
  margin: 0 auto;
  width: 90vw;
}

header {
  height: 100px;
  justify-content: center;
  margin: 0;
  width: 100%;
}

span {
  font-weight: bold;
}

.activate:hover {
  background-color: grey;
}

.blank {
  background-color: white;
  border: 1px solid black;

  &:hover {
    background: grey;
  }
}

.dropdown-item {
  border: 1px solid grey;
  border-radius: 4px;
}

.game {
  height: 0;
  padding-bottom: 25%;
  width: 25%;
}

.game-board {
}

.main {
  max-width: 75%;
}

.message-failure {
  color: red;
}

.message-success {
  color: green;
}

.skier {
  background-image: url('public/skier.png');
  background-size: cover;
  border: 1px solid black;
}

.snowboarder {
  background-image: url('public/snowboarder.png');
  background-size: cover;
  border: 1px solid black;
}

.user {
  justify-content: space-between;
}

.user-message {
  font-size: 1.5rem;
  font-weight: bold;
  height: 2rem;
  margin-top: 25%;
  text-align: center;
}

@media (min-width: 575px) {
  .user-message {
    margin-top: 10%;
  }
  .main {
    max-width: 60%;
  }
}

@media (min-width: 768px) {
  .user-message {
    margin-top: 5%;
  }
  .main {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .main {
    max-width: 35%;
  }
}

// @media (min-width: 1200px) {
//   .main {
//     max-width: 30%;
//   }
// }
