@import '~bootstrap/scss/bootstrap';

aside {
  font-size: 2rem;
  margin-top: 12vh;
  text-align: center;
}

div {
  height: 100%;
  text-align: center;
}

footer {
  border: 1px solid black;
  height: 50px;
  margin: 0 auto;
  width: 90vw;
}

header {
  height: 100px;
  justify-content: center;
  margin: 0;
  width: 100%;
}

span {
  font-weight: bold;
}

.activate:hover {
  background-color: grey;
}

.game {
  background-color: white;
  border: 1px solid black;

  &:hover {
    background: grey;
  }
}

.main {
  height: 15vh;
  width: 30vw;
}

.player-o {
  border: 1px solid black;
  float: right;
  margin-right: 6vw;

  .o {
    color: red;
  }
}

.player-x {
  border: 1px solid black;
  float: left;
  margin-left: 6vw;

  .x {
    color: blue;
  }
}

.title,
.user {
  border: 1px solid black;
}

.user-message {
  font-size: 2rem;
  font-weight: bold;
  height: 2rem;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 50vw;
}
